# ABC-–∞–Ω–∞–ª–∏–∑ –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–∞ (–î–ó –≤ —Ä–∞–º–∫–∞—Ö –∫—É—Ä—Å–∞ Scypro "–ê–Ω–∞–ª–∏—Ç–∏–∫ –¥–∞–Ω–Ω—ã—Ö")

# üéàüçæ üéâ





–í—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∫—Ä—É–ø–Ω–æ–º –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–µ, –∫–æ—Ç–æ—Ä—ã–π —Ä–µ–∞–ª–∏–∑—É–µ—Ç —Ç–æ–≤–∞—Ä—ã ¬´–≤—Å—ë –¥–ª—è –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–≤¬ª. –í–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ ABC-–∞–Ω–∞–ª–∏–∑ –∏ –≤—ã—è–≤–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –≠—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è —Å–æ—Å—Ç–∞–≤–∏—Ç –ø–ª–∞–Ω –∑–∞–∫—É–ø–æ–∫ –Ω–∞ –≤–µ—Å—å —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥.

**ABC-–∞–Ω–∞–ª–∏–∑** –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ä–µ—Å—É—Ä—Å—ã –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø—Ä–∏–±—ã–ª–∏.

–í –æ—Å–Ω–æ–≤–µ ABC-–∞–Ω–∞–ª–∏–∑–∞ –ª–µ–∂–∏—Ç __¬´–ü—Ä–∏–Ω—Ü–∏–ø –ü–∞—Ä–µ—Ç–æ¬ª: 20% —Ä–µ—Å—É—Ä—Å–æ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç 80% –ø—Ä–∏–±—ã–ª–∏__. –ò–º–µ–Ω–Ω–æ —ç—Ç–æ—Ç –≤–∏–¥ –∞–Ω–∞–ª–∏–∑–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–¥–µ–ª–∏—Ç—å —Ç–µ —Å–∞–º—ã–µ  –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, —Ä–µ—Å—É—Ä—Å–æ–≤, –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –∏ —Ç. –ø., –∫–æ—Ç–æ—Ä—ã–µ –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –∫–æ–º–ø–∞–Ω–∏–∏ –æ—Å–Ω–æ–≤–Ω—É—é –ø—Ä–∏–±—ã–ª—å.

__–ó–∞–¥–∞—á–∞ –∞–Ω–∞–ª–∏–∑–∞ —Ä–∞–∑–¥–µ–ª–∏—Ç—å —Ç–æ–≤–∞—Ä—ã –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –ø—Ä–∏–Ω—Ü–∏–ø—É:__

- –ê ‚Äî –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ, 20% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞ (–Ω–æ–º–µ–Ω–∫–ª–∞—Ç—É—Ä–∞); 80% ‚Äî –ø—Ä–æ–¥–∞–∂
- –í ‚Äî –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–µ, 30% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 15% ‚Äî –ø—Ä–æ–¥–∞–∂
- –° ‚Äî –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ, 50% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 5% ‚Äî –ø—Ä–æ–¥–∞–∂

## –ó–∞–¥–∞–Ω–∏–µ 1

__–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products` –∏–∑ PostgreSQL –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products` –∏ –ø–æ–¥–≥–æ—Ç–æ–≤—å—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –∞–Ω–∞–ª–∏–∑—É.__

In [1]:
from postgresql_secret import pg_secret

In [2]:
import psycopg2

connection = psycopg2.connect(
                             database=pg_secret['db_name'],
                             user=pg_secret['db_user'],
                             password=pg_secret['db_password'],
                             host=pg_secret['db_host'],
                             port=pg_secret['db_port'],
                             )

cursor = connection.cursor()

In [3]:
import pandas as pd

query = """SELECT * 
           FROM products"""

cursor.execute(query)            # –°–¥–µ–ª–∞–µ–º –∑–∞–ø—Ä–æ—Å
result = cursor.fetchall()  # –ó–∞–ø—Ä–æ—Å–∏–º –≤—Å–µ —Å—Ç—Ä–æ–∫–∏, –ø–æ–ª—É—á–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ —Å–ø–∏—Å–∫–∞ –∫–æ—Ä—Ç–µ–∂–µ–π

#cursor.description #—É–∑–Ω–∞–µ–º –∏–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫


columns = [] # –í —ç—Ç–æ—Ç —Å–ø–∏—Å–æ–∫ –±—É–¥–µ–º —Å–æ—Ö—Ä–∞–Ω—è—Ç—å –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫
for desc in cursor.description:  
    columns.append(desc[0])      # –ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –≤–æ–∑—å–º–µ–º –∏–∑ –ø–µ—Ä–≤–æ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ cursor.description

    
products = pd.DataFrame(result, columns=columns)  # –ò–∑ —Å–ø–∏—Å–∫–∞ –∫–æ—Ä—Ç–µ–∂–µ–π —Å–¥–µ–ª–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
products.head()

   invoice_id stock_code                         description  quantity price
0      563031      20725             LUNCH BAG RED RETROSPOT         2  1.65
1      563031      20728                 LUNCH BAG CARS BLUE         2  1.65
2      563031      23207           LUNCH BAG ALPHABET DESIGN         2  1.65
3      563031     84596F        SMALL MARSHMALLOWS PINK BOWL         2  0.42
4      563031     84596B  SMALL DOLLY MIX DESIGN ORANGE BOWL         2  0.42

In [4]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779495 entries, 0 to 779494
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice_id   779495 non-null  int64
 1   stock_code   779495 non-null  object
 2   description  779495 non-null  object
 3   quantity     779495 non-null  int64
 4   price        779495 non-null  object
dtypes: int64(2), object(3)
memory usage: 29.7+ MB

In [5]:
#–º–µ–Ω—è–µ–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö
products['stock_code'] = products['stock_code'].astype('str')
products['description'] = products['description'].astype('str')
products['price'] = products['price'].astype('float64')

In [6]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779495 entries, 0 to 779494
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice_id   779495 non-null  int64
 1   stock_code   779495 non-null  object
 2   description  779495 non-null  object
 3   quantity     779495 non-null  int64
 4   price        779495 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 29.7+ MB

## –ó–∞–¥–∞–Ω–∏–µ 2

__–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, –∫–∞–∫–æ–π –¥–æ—Ö–æ–¥ –ø—Ä–∏–Ω–µ—Å –∫–∞–∂–¥—ã–π –ø—Ä–æ–¥—É–∫—Ç –∏ —Å–∫–æ–ª—å–∫–æ –µ–¥–∏–Ω–∏—Ü –∫–∞–∂–¥–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ__

In [7]:
#–ø–æ—Å—á–∏—Ç–∞–µ–º —Å—Ç–æ–∏–º–æ—Å—Ç—å
products['total'] = products['price']*products['quantity']

In [8]:
# –ø–æ—Å—á–∏—Ç–∞–µ–º –æ–±—â–∏–π –¥–æ—Ö–æ–¥ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É. –ü–æ—Å–∫–æ–ª—å–∫—É —Ç–æ–≤–∞—Ä—ã –º–æ–≥—É—Ç –∏–º–µ—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ, 
#—Ç–æ –±—É–¥–µ–º –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –∏ –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –∏ –ø–æ id
prod_sum = products.groupby(['description','stock_code'],as_index=False)['total'].sum()
prod_sum.head()
#mTable_sum.info()

                           description stock_code    total
0    DOORMAT UNION JACK GUNS AND ROSES      21955  1071.25
1             3 STRIPEY MICE FELTCRAFT      22150  1241.10
2        4 PURPLE FLOCK DINNER CANDLES     72800B   495.16
3        50'S CHRISTMAS GIFT BAG LARGE      23437  2272.25
4                      ANIMAL STICKERS      16011    80.85

In [9]:
# –ø–æ—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
prod_count = products.groupby(['description','stock_code'], as_index=False)['quantity'].sum()
prod_count.head()
#mTable_count.info()

                           description stock_code  quantity
0    DOORMAT UNION JACK GUNS AND ROSES      21955       167
1             3 STRIPEY MICE FELTCRAFT      22150       662
2        4 PURPLE FLOCK DINNER CANDLES     72800B       324
3        50'S CHRISTMAS GIFT BAG LARGE      23437      1885
4                      ANIMAL STICKERS      16011       385

In [10]:
# –æ–±—ä–µ–¥–∏–Ω—è–µ–º –æ–±—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—É
prod =  pd.merge(prod_sum, prod_count, how='left', left_on=['description','stock_code'], right_on = ['description','stock_code'])
prod.head()
#mTable.info()

                           description stock_code    total  quantity
0    DOORMAT UNION JACK GUNS AND ROSES      21955  1071.25       167
1             3 STRIPEY MICE FELTCRAFT      22150  1241.10       662
2        4 PURPLE FLOCK DINNER CANDLES     72800B   495.16       324
3        50'S CHRISTMAS GIFT BAG LARGE      23437  2272.25      1885
4                      ANIMAL STICKERS      16011    80.85       385

## –ó–∞–¥–∞–Ω–∏–µ 3

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º__

In [11]:
# –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–µ–º –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º –ø–æ —É–±—ã–≤–∞–Ω–∏—é –≤—ã—Ä—É—á–∫–∏ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ–≤–∞—Ä–æ–≤
#prod.sort_values(['total', 'quantity'], ascending=[False, False], inplace=True)

#–æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–µ–º –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º –ø–æ –¥–æ—Ö–æ–¥—É
prod.sort_values('total', ascending= False, inplace=True)
prod.head()

                             description stock_code      total  quantity
3789            REGENCY CAKESTAND 3 TIER      22423  277656.25     24139
5079  WHITE HANGING HEART T-LIGHT HOLDER     85123A  247048.01     91757
3145         PAPER CRAFT , LITTLE BIRDIE      23843  168469.60     80995
2876                              Manual          M  151777.67      9391
2405             JUMBO BAG RED RETROSPOT     85099B  134307.44     74224

In [12]:
# –Ω–∞–π–¥–µ–º –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 
prod['percentage_total'] = 100*prod['total'] /  prod['total'].sum()
prod.head()

,description,stock_code,total,quantity,percentage_total
3789,REGENCY CAKESTAND 3 TIER,22423,277656.25,24139,1.598040
5079,WHITE HANGING HEART T-LIGHT HOLDER,85123A,247048.01,91757,1.421875
3145,"PAPER CRAFT , LITTLE BIRDIE",23843,168469.60,80995,0.969620
2876,Manual,M,151777.67,9391,0.873550
2405,JUMBO BAG RED RETROSPOT,85099B,134307.44,74224,0.773001

In [13]:
# —Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã
prod['running_total']  = prod['percentage_total'].cumsum()
prod.head()

,description,stock_code,total,quantity,percentage_total,running_total
3789,REGENCY CAKESTAND 3 TIER,22423,277656.25,24139,1.598040,1.598040
5079,WHITE HANGING HEART T-LIGHT HOLDER,85123A,247048.01,91757,1.421875,3.019915
3145,"PAPER CRAFT , LITTLE BIRDIE",23843,168469.60,80995,0.969620,3.989535
2876,Manual,M,151777.67,9391,0.873550,4.863085
2405,JUMBO BAG RED RETROSPOT,85099B,134307.44,74224,0.773001,5.636086

## –ó–∞–¥–∞–Ω–∏–µ 4

__–ü–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –Ω–∞—Ä–∞—Å—Ç–∞—é—â–µ–≥–æ –∏—Ç–æ–≥–∞__

In [14]:
def revenue(x):
    if x <= 80:
        return 'A'
    elif 80 < x <= 95:
        return 'B'
    else:
        return 'C'

prod['revenue'] = prod['running_total'].apply(revenue)

In [15]:
prod.head()

,description,stock_code,total,quantity,percentage_total,running_total,revenue
3789,REGENCY CAKESTAND 3 TIER,22423,277656.25,24139,1.598040,1.598040,A
5079,WHITE HANGING HEART T-LIGHT HOLDER,85123A,247048.01,91757,1.421875,3.019915,A
3145,"PAPER CRAFT , LITTLE BIRDIE",23843,168469.60,80995,0.969620,3.989535,A
2876,Manual,M,151777.67,9391,0.873550,4.863085,A
2405,JUMBO BAG RED RETROSPOT,85099B,134307.44,74224,0.773001,5.636086,A

## –ó–∞–¥–∞–Ω–∏–µ 5

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –∏ –ø–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'`, –æ—Ç–º–µ—á–∞—è —Ç–µ–º —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å —Ç–æ–≤–∞—Ä–∞__

In [16]:
#–æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–µ–º –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–æ–≤
prod.sort_values('quantity', ascending= False, inplace=True)

# –Ω–∞–π–¥–µ–º –ø—Ä–æ—Ü–µ–Ω—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 
prod['percentage_quantity'] = 100*prod['quantity'] /  prod['quantity'].sum()

#—Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –∫—É–º—É–ª—è—Ç–∏–≤–Ω—É—é —Å—É–º–º—É
prod['running_quantity']  = prod['percentage_quantity'].cumsum()
prod.head()

,description,stock_code,total,quantity,percentage_total,running_total,revenue,percentage_quantity,running_quantity
5200,WORLD WAR 2 GLIDERS ASSTD DESIGNS,84077,24098.03,105185,0.138695,29.646558,A,0.999031,0.999031
5079,WHITE HANGING HEART T-LIGHT HOLDER,85123A,247048.01,91757,1.421875,3.019915,A,0.871494,1.870524
3145,"PAPER CRAFT , LITTLE BIRDIE",23843,168469.60,80995,0.969620,3.989535,A,0.769278,2.639802
293,ASSORTED COLOUR BIRD ORNAMENT,84879,124351.86,78234,0.715702,7.069195,A,0.743054,3.382857
2708,MEDIUM CERAMIC TOP STORAGE JAR,23166,81416.73,77916,0.468591,8.132230,A,0.740034,4.122891

In [17]:
def quantity(x):
    if x <= 80:
        return 'A'
    elif 80 < x <= 95:
        return 'B'
    else:
        return 'C'

prod['popularity'] = prod['running_quantity'].apply(quantity)

In [18]:
prod.head()

,description,stock_code,total,quantity,percentage_total,running_total,revenue,percentage_quantity,running_quantity,popularity
5200,WORLD WAR 2 GLIDERS ASSTD DESIGNS,84077,24098.03,105185,0.138695,29.646558,A,0.999031,0.999031,A
5079,WHITE HANGING HEART T-LIGHT HOLDER,85123A,247048.01,91757,1.421875,3.019915,A,0.871494,1.870524,A
3145,"PAPER CRAFT , LITTLE BIRDIE",23843,168469.60,80995,0.969620,3.989535,A,0.769278,2.639802,A
293,ASSORTED COLOUR BIRD ORNAMENT,84879,124351.86,78234,0.715702,7.069195,A,0.743054,3.382857,A
2708,MEDIUM CERAMIC TOP STORAGE JAR,23166,81416.73,77916,0.468591,8.132230,A,0.740034,4.122891,A

## –ó–∞–¥–∞–Ω–∏–µ 6

__–û–±—ä–µ–¥–∏–Ω–∏ –≥—Ä—É–ø–ø—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π__

In [19]:
prod['group'] = prod['revenue'] + prod['popularity'] #—Å–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å —Å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –æ—Ç–º–µ—Ç–æ–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏ –¥–æ—Ö–æ–¥–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
prod['group'].value_counts() #—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã

CC    2419
AA     776
BB     636
BC     412
CB     327
BA     319
AB     288
AC      74
CA      64
Name: group, dtype: int64

# **–í—ã–≤–æ–¥—ã**
–ß–∞—â–µ –≤—Å–µ–≥–æ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞ –∏ –Ω–∞–∏–º–µ–Ω–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã (–≥—Ä—É–ø–ø–∞ –°–°).

–ü—Ä–∏ —ç—Ç–æ–º –Ω–∞ –≤—Ç–æ—Ä–æ–º –º–µ—Å—Ç–µ –ø–æ —á–∞—Å—Ç–æ—Ç–µ - –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –ø—Ä–∏–Ω–æ—Å—è—Ç –æ—Å–Ω–æ–≤–Ω–æ–π –¥–æ—Ö–æ–¥ –∏ –Ω–∞–∏–±–æ–ª–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã (–≥—Ä—É–ø–ø–∞ AA)

*–ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?*

–ù–∞–≤–µ—Ä–Ω–æ–µ, –Ω–∞ —Ç–µ—Ö, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞–∏–±–æ–ª–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –æ—Å–Ω–æ–≤–Ω–æ–π –¥–æ—Ö–æ–¥ (–≥—Ä—É–ø–ø–∞ AA)

## –ó–∞–¥–∞–Ω–∏–µ 7

__–í—ã–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç–æ–≤–∞—Ä–∞–º —Å –º–µ—Ç–∫–æ–π –ø–æ ABC-–∞–Ω–∞–ª–∏–∑—É__

In [20]:
abc_analysis_merged = pd.merge(prod, 
                     products, 
                     on='stock_code',  
                     how='inner')
abc_analysis_merged.rename(columns={"group": "ABC-–∫–æ–¥", "description_x":"–û–ø–∏—Å–∞–Ω–∏–µ", "invoice_id":"ID"}, inplace = True)

abc_analysis = abc_analysis_merged[['ABC-–∫–æ–¥', '–û–ø–∏—Å–∞–Ω–∏–µ', 'ID']]
abc_analysis.head()

  ABC-–∫–æ–¥                           –û–ø–∏—Å–∞–Ω–∏–µ      ID
0      AA  WORLD WAR 2 GLIDERS ASSTD DESIGNS  563073
1      AA  WORLD WAR 2 GLIDERS ASSTD DESIGNS  563112
2      AA  WORLD WAR 2 GLIDERS ASSTD DESIGNS  563238
3      AA  WORLD WAR 2 GLIDERS ASSTD DESIGNS  563427
4      AA  WORLD WAR 2 GLIDERS ASSTD DESIGNS  563437

In [21]:
abc_analysis.to_csv('abc_analysis.csv', index=False)